[2011-10-21 10:51] MikeRogers0 opened #1 "HTML change checker can not reload due to wrong headers"
The HTML checker can struggle to spot changes to the code, this can be due to the wrong headers being sent or caches being loaded maybe.

I need to add a Cache breaker & better reload system.

[2012-02-18 20:07] MikeRogers0 opened #2 "Adblock triggers cross origin error"
If you have Adblock installed it will chuck an error in the console stopping the script from running.

[2012-04-08 14:21] #1 closed, assigned to nobody

[2012-04-08 14:21] #2 closed, assigned to nobody

[2012-07-31 22:03] MikeRogers0 opened #3 "Needs to support file:// protocol"
Maybe use the fileAPI to do it?

[2012-07-31 22:10] MikeRogers0 opened #4 "Support .less stylesheets"
When they change, refresh the page.

[2012-08-02 21:42] #3 closed, assigned to MikeRogers0

[2012-08-02 21:42] #4 closed, assigned to MikeRogers0

[2012-08-04 00:02] MikeRogers0 opened #5 "Internationalise all the phrases."

[2012-08-04 00:07] MikeRogers0 opened #6 "Add image to options page explaining how to tick box for file://"

[2012-08-04 18:18] #6 closed, assigned to nobody

[2012-08-24 08:40] gsurrel opened #7 "Anchors viewed as new page"
When brosing a webpage using anchors, it disables LivePage. It shouldn't take care of the anchor in the URL.

[2012-08-26 21:06] #7 closed, assigned to MikeRogers0

[2012-08-26 21:14] MikeRogers0 opened #8 "refector & comment code"

[2012-08-27 19:49] #8 closed, assigned to MikeRogers0

[2012-08-30 08:33] MikeRogers0 opened #9 "Batch checking of URLS"
Check URLs in batches, as sites with lots of resources still feel live. It might be a shout to store the last changed file & check it more frequently.

[2012-09-09 05:39] drgullin opened #10 "CSS files issue"
It seems that LivePage doesn't work for the CSS-files.

[code]

No updates are handled for the files like this one.
In other hand, it works for the .html files.

What is the solution?

OS Windows 7.
Chrome version 21.

LiveJS works well.

[2012-10-07 02:34] #9 closed, assigned to MikeRogers0

[2012-10-08 16:29] #10 closed, assigned to nobody

[2012-10-08 16:30] MikeRogers0 opened #11 "Add session based LivePage'ing"

[2012-10-08 16:31] MikeRogers0 opened #12 "Add support for Images"

[2012-10-08 16:34] MikeRogers0 opened #13 "Make options affect active tabs"
So "LivePage will run on" in the options page will update in the background & the option pages setting with take instant affect.

[2012-10-09 11:24] PAB-me-uk opened #14 "sendMessage Error"
I am getting the following issue after which LivePage stops checking.

LivePage:  Starting Up
LivePage:  ["Scanning Page"]
LivePage:  ["Monitoring http://**Censored**/ at higher priority"]
LivePage:  ["Monitoring 19 resources",
Array[19]
]
LivePage:  ["Refreshing", "http://**Censored**/",
LiveResource
]
Uncaught TypeError: Object #<Object> has no method 'sendMessage'
LiveResource.refresh
LiveResou

[2012-10-09 16:51] #14 closed, assigned to nobody

[2012-10-09 16:53] MikeRogers0 opened #15 "Spam stoppers (Askimet) & inline JS can trigger reloads"
I might add a more agressive tidy html option.

[2012-10-10 13:40] MikeRogers0 opened #16 "Dosen't support @Import."

[2012-10-14 20:02] #16 closed, assigned to nobody

[2012-10-17 15:16] Grepsy opened #17 "Won't reload CSS whilst HTTP headers do change."
For some reason the CSS is not reloaded

I'm comparing the headers printed in the array in my console (debugging is turned on) to the headers in the network panel coming back from the HEAD request. The Last-Modified and ETag headers are both changing in response to an edit. But nothing happens.

I'd like the debug this myself, but not sure how to use the dev. tools on this extension (it's not list

[2012-10-18 12:42] #17 closed, assigned to nobody

[2012-10-18 12:43] #15 closed, assigned to nobody

[2012-10-28 04:17] ottonascarella opened #18 "Extension looks for changes only on main page"
pages opened via window.open don't get "watched".

image support would also not be a bad idea!

[2012-10-28 12:05] #18 closed, assigned to nobody

[2012-12-04 19:19] drgullin opened #19 "@import bug"
I have two CSS files in the `/css/` folder.

First one is `styles.css`, second is `reset.css`.

`@import url(reset.css);`  from the `styles.css` doesn't work.

When `http://test/index.html` is opened:

[code]

Right path is `http://test/css/reset.css`

[2013-02-09 23:54] #19 closed, assigned to nobody

[2013-03-01 12:17] Iristyle opened #21 "vs LiveReload / Grunt Integration"
Just curious as I evaluate various livereload options...

What are the advantages of `LivePage` vs `LiveReload`?

Do you have anything on the roadmap for Grunt integration? Or will this extension accept the same protocol as LiveReload, making [grunt-contrib-livereload](https://github.com/gruntjs/grunt-contrib-livereload) viable here?

Thanks!

[2013-03-01 20:19] #21 closed, assigned to nobody

[2013-03-01 20:20] MikeRogers0 opened #22 "Multi-threaded polling"
It currently runs in the same thread as the web page. I want to experiment with the boosts in performance I can gain using web workers.

[2013-03-01 20:21] MikeRogers0 opened #23 "Create version for Firefox & Safari"
Chrome is cool, but LivePage should expand into other browsers.

[2013-03-01 20:22] MikeRogers0 opened #24 "Better branding (New logo)"
The logo isn't very good right now. I need to find/create a better logo.

[2013-03-04 01:05] GloverDonovan opened #25 "TypeError: Object false has no method 'checkBatch'"
I got the following error:
Uncaught TypeError: Object false has no method 'checkBatch' (anonymous function)

Maybe because of two loading instances? The html tag had 2 livepage-loading classes.

[2013-03-12 15:54] gaetanark opened #26 "Getting a 404 on Google Font CDN"
I use an @import of font files in my CSS.

[code]

But getting a 404 error : the extension seems to try loading it on my localhost :

[code]
CDN are disabled in the option page of the extension.

[2013-12-13 13:03] marczking opened #27 "Hierarchy of CSS-files"
my main issue with live-reload is that it generates new files at the bottom of the head. This makes sense so it can overwrite the previous declared rules (cascading).

If you now have two different CSS-files and the first one gets changed it gets generated at the bottom of the head... Here's an example:

[code]

[2013-12-14 20:58] marczking opened #28 "Multiple same CSS-files"
One thing I was noticing is that when you have your inspector (Chrome-Devtools) open and your CSS gets live-reloaded you have the exact same rules listed twice: (I changed something else than the body rule in my file)

main.css&livePage=123456789?LivePage=123456789:1
`body {background:white;}`

main.css:1
~~body {background:white;}~~

I would like the old files removed (maybe make it an option you

[2014-02-19 17:01] KenRmk opened #29 "LESS reloading crashes"
Works perfectly with html and css, but when i update less file it crashes.
It notices the change and logs it in the console ( ["refreshing", "........*.less", liveResource] ) and then it crashes saying this
Uncaught ReferenceError: $LivePageLESS is not defined livepage.js:405
LiveResource.refresh livepage.js:405
LiveResource.check livepage.js:329
livePage.check livepage.js:246
livePage.checkBatch

[2014-09-11 14:11] michapixel opened #30 "excellent extension"
but this doesn't work with any templating system right?

we actually use twig a lot and making changes to templates does not issue a reload.

[2014-10-02 22:41] cespare opened #31 "Doesn't reload while Chrome is not focused"
I have an editor and chrome open. When I make a change in the editor and save, nothing happens until I alt-tab back over to chrome. Then the change instantly takes effect.

Maybe Chrome doesn't let the background JS run while out of focus or something?

This is Chrome 38 beta.

[2014-10-10 08:28] 8wire opened #32 "PHP includes - eg. Wordpress"
Wordpress uses PHP includes to generate the page, not static HTML - so any changes to those includes don't automatically show.

eg. The site url might show "domain.com/about/" but be showing content from header.php & page.php etc.

I tried using the link rel in the header as follows but without success:

link rel="livePage" href="/wp-content/themes/themename/page.php"

Is there any method that I c

[2014-10-10 09:45] #32 closed, assigned to nobody

[2014-10-16 22:10] JacopKane opened #33 "Add option for custom rest time checks"
For external hosted websites (like shopify) with lots of assets 1000ms is locking my browser down even though i have a decent computer/network. While probably extension may need some performance improvements i think manually entering a number more than 1000ms would be very good i think.

For now i manually changed it from web inspector to 10000ms and it's better.

PS: I have a page with 3d transit

[2015-01-17 22:42] feedthebayer commented on #31
Any update on this?

[2015-01-19 21:03] MikeRogers0 commented on #31
https://github.com/MikeRogers0/LivePage/tree/reloadCssInOrginalPlace - I think I've found a fix and put it in here - though I've not had any time finish / publish the update :/

[2015-01-31 22:48] JacopKane opened #34 "Synchronous XMLHttpRequest on the main thread is deprecated"
Not important yet but just for heads up my chrome dev tool is throwing this warning:
[code]
![screenshot 2015-02-01 00 44 19](https://cloud.githubusercontent.com/assets/68406/5990143/f2820f7c-a9ab-11e4-80f7-026d6c750ba7.png)

[2015-02-01 13:18] MikeRogers0 commented on #34
Thanks for the heads up, hopefully going to have an update out by the end of the month to fix this and the other bugs :)

[2015-02-04 05:55] wrick17 commented on #29
The issue is still there. Am I missing something?

[2015-02-05 10:17] MikeRogers0 commented on #29
I'll investigate again, I imagine the error as crept back in.

[2015-02-28 00:45] oguresic commented on #29
You can fix it: this lines are missing at the end of file js/less-1.4.1.min.js:

// Put the less stuff into a global variable, so the live page extension can access it.
var $LivePageLESS = window.less;

[2015-02-28 01:02] oguresic commented on #29
And i found out that less-1.3.0.min.js is working, but less-1.4.1.min.js in current LivePage is not refreshing less files ... so you have to exchange it manually to get it working.

[2015-03-05 11:48] kriskrukkert opened #35 "Get Internal server error 500"
Hello,

The extension does not work for me and get the following error:

GET http://www.theloop.nl/framework/?livePage=1425555753572 500 (Internal Server Error)livepage.js:301 LiveResource.checklivepage.js:246 livePage.checklivepage.js:214 livePage.checkBatchlivepage.js:217 (anonymous function)

 What am I doing wrong?

[2015-03-05 11:54] MikeRogers0 commented on #35
http://www.theloop.nl/framework/ - Is that the URL you're trying to make live? It looks like that file has a PHP error on it, hence it's returning a 500 error.

[2015-03-05 12:12] kriskrukkert commented on #35
The PHP error is gone now. Now it gives me the following error:

Uncaught ReferenceError: $LivePageLESS is not defined

[2015-03-06 18:46] MikeRogers0 commented on #35
That looks like an error from the extension, I'm deploying a patch tomorrow morning to deal with the LESS issue.

[2015-03-06 18:49] kriskrukkert commented on #35
Oke I hope that it will fix my problem. Im looking foward using the extension. Thnx for the support!

[2015-03-07 22:09] MikeRogers0 commented on #35
Ok fixed deployed to Chrome Web Store, hopefully you should be A-OK from now on :)

[2015-03-07 22:09] #35 closed

[2015-03-07 22:12] MikeRogers0 commented on #29
I decided to remove LESS from 1.5.2. LESS in the browser has its own polling update built in now, so it would be a duplication of efforts for LivePage to support it. That said, if users are using the server side compilers with watchers LivePage should pick up on the changes and work normally.

[2015-03-07 22:12] #29 closed

[2015-03-29 13:25] GloverDonovan commented on #25
Bumping this. Has this issue been fixed and can I close it?

[2015-03-29 22:59] MikeRogers0 commented on #25
I've not been able to reproduce it (Though I've recently removed LESS from LivePage). If you can't reproduce it your end feel free to close.

[2015-03-29 23:09] GloverDonovan commented on #25
Alright. I don't use Less anymore but Sass now. Going to close this. (:

[2015-03-29 23:09] #25 closed

[2015-06-24 18:50] abzence opened #37 "Increase Polling Setting time?"
I'm wondering if there is some way to increase the polling setting time to let's say every 5 - 10 minutes?

I'm trying to use it as a way of displaying live info on a remote screen that only needs to update in 5 minutes intervals and the 1000ms seems to decrease the performance of the slide show that displays the data.

[2015-06-25 08:19] MikeRogers0 commented on #37
Right now there is not. In the next version I'll add a free text field :)

[2015-06-25 17:15] abzence commented on #37
Thank you. That would be awesome :)

[2015-07-01 19:42] jwbats opened #38 "No Refresh On Editing Indirectly Referenced Files Such As Angular Directives"
LivePage only seems to fresh when it detects changes to the index file and the files it directly references (scripts and css).

It does not refresh on editing Angular directives.

I am using this on my localhost and I would like this plugin to watch my whole folder.

[2015-07-02 11:06] MikeRogers0 commented on #38
LivePage is probably not the extension for you, its more designed for simple web page design & not web apps.

[2015-07-05 15:09] #38 closed

[2015-07-05 15:10] #34 closed

[2015-07-05 15:10] #37 closed

[2015-07-05 15:11] #33 closed

[2015-07-05 15:11] #30 closed

[2015-07-05 15:14] #26 closed

[2015-07-05 15:28] #13 closed

[2015-07-05 15:28] #5 closed

[2015-07-05 15:28] #11 closed

[2015-07-05 15:28] #22 closed

[2015-07-05 15:28] #24 closed

[2015-07-05 16:06] #27 closed

[2015-07-05 16:06] #28 closed

[2015-07-05 16:06] MikeRogers0 commented on #23
I'm closing this - I barely have the time to keep this version up to date.

[2015-07-05 16:06] #23 closed

[2015-07-24 22:05] papa-gene commented on #31
Hi MikeRogers0! I am still experiencing this issue. To be precise, HTML reloads just fine when out of focus, but for CSS, I have to drag the mouse over Chrome window (I believe OSX does "Focus follows mouse"). This is on Chrome 44.0.2403.89 for OSX, with the latest version of the plugin (1.6.0). Let me know if you need more info.
Great extension otherwise!

[2015-08-08 08:14] helarqjsc opened #39 "NotFoundError: Failed to execute 'insertBefore' on 'Node'"
Got the following error while trying to update CSS:
[code]
Any ideas why it happens and how it can be fixed?

[2015-08-09 12:26] MikeRogers0 commented on #39
Oh weird - I'll investigate. Do you have a copy of the page you where making live available?

[2015-08-09 13:03] helarqjsc commented on #39
Well, I got the same error on all the pages I've tested so far, but here is the one I got the error initially on: http://bmicalculators.com/

[2015-08-12 17:38] eightygrit opened #40 "Duplicate Domain in URL with Leading Slash"
When rewriting a domains and paths, the domain is duplicated and a leading slash is added, causing the Chrome extension to 404 every file and eventually reload ever 2-3 seconds.

In my case, a URL like `http://client.dev/main.css` becomes `/http://client.dev/main.css`. That leading slash then causes the browser to request `http://client.dev/http://client.dev/main.css`.

I suspect this comes from t

[2015-08-13 09:36] MikeRogers0 commented on #40
Thanks for reporting this, I'm planning a coding session this weekend to squash this bug :+1:

[2015-08-13 09:36] MikeRogers0 commented on #39
Awesome! I'm planning a coding session this weekend to squash this bug :+1:

[2015-08-21 10:08] helarqjsc commented on #39
I've figured out why the error occurs. This part expects that the original `<link>` exists in the `<head>` tag:
[code]
In my case `<link>` was at the bottom of the `<body>`, that's why it complained that `The node before which the new node is to be inserted is not a child of this node.`

To fix it something like that needs to be done instead:
[code]
That should work fine, right?

[2015-08-21 10:23] MikeRogers0 commented on #39
+1!

That should work, though I'll try and update it to not expect the link tag to be in the `<head>` element (Though I'm currently on the road, it might take a week or 2 for me to get it to live).

[2015-10-31 17:46] amlwwalker opened #41 "Can get contents of html pages but not css pages"
**If you havent read this answer yet, please note I have edited it with a quick fix, however I don't think it is a good thing**
Hi
This is a great little plugin by the way. I am trying to print out the contents of the file that has changed. This works fine when the file type that changed is html, however when its javascript or css, it doesnt seem to get set.

In `LiveResource.prototype.check()` th

[2015-11-01 13:15] MikeRogers0 commented on #41
I think the lines of code you're talking about [is this bit](https://github.com/MikeRogers0/LivePage/blob/9021d21e7b8611cdf65ed3bf360aa47dce64e7c5/js/injected/live_resource.js#L11-L14):

[code]

It's set to HEAD by default as l suspect a lot of users of LivePage are in a production like environment, where the server should honour the 200/302 status types (Which will reduce the bandwidth of each re

[2015-11-01 13:15] #41 closed

[2015-11-01 13:15] #40 closed

[2016-01-21 11:43] ashthecreative opened #42 "Add support for additional file extensions"
For a project I'm currently working on, I'm using .shtml files which aren't being detected as being updated. Maybe a feature where you can list your own extensions to watch would be useful.

[2016-01-22 11:01] MikeRogers0 commented on #42
That would be pretty cool :) Can you post me a code sample of how you're using .shtml files?

[2016-05-18 01:23] shadybones opened #43 "Using IntelliJ to debug HTML/Javascript, LivePage errors out"
In IntelliJ, you can debug javascript in the browser by having the IDE host the pages and connecting to Chrome dev apis. When doing this, LivePage does not work, and prints out the following errors:

Uncaught TypeError: $livePage.checkBatch is not a function
  (anonymous function)
Uncaught TypeError: Cannot read property 'refresh_rate' of undefined
  (anonymous function)
  xhr.onreadystatechange

[2016-05-18 13:08] MikeRogers0 commented on #43
Oh weird - I'll investigate this weekend, though I don't use IntelliJ so it might take me a while to figure out the crooks of the issue.

[2016-05-19 21:00] Lorenzo45 opened #44 "Getting request but page not reloading"
My current stack is Heroku and Django with Sublime Text 2 and Chrome (OS X 10.11.2), and I can't seem to get my local pages to update. I can see the requests being made but the page doesn't reload.

[2016-05-20 12:40] MikeRogers0 commented on #39
IIRC this was patched in [1.5.3](https://github.com/MikeRogers0/LivePage/releases/tag/1.5.3)

[2016-05-20 12:41] MikeRogers0 commented on #12
This can be handled by adding `rel="livePage"` to the link that you want to be made "live. For example:
[code]

[2016-05-20 12:41] #12 closed

[2016-05-20 12:41] MikeRogers0 commented on #42
This can be handled by adding `rel="livePage"` to the link that you want to be made "live. For example:
[code]

[2016-05-20 12:41] #42 closed

[2016-05-20 13:54] MikeRogers0 commented on #43
I wasn't able to recreate this issue on IntelliJ Community edition / WebStorm. I'm going to leave this ticket open incase anyone else can shed some light on this.

[2016-05-20 13:57] MikeRogers0 commented on #44
Possibly fixed in [2.0.0](https://github.com/MikeRogers0/LivePage/tree/2.0.0), which should be pushed out within the next hour.

If not, check the HTTP response your changed files are returning. If they are return 304 when they've changed, your stack is the cause of the errors (they should return a 200). As a work around, in the LivePage options check the option "Use only GET requests when polling

[2016-05-20 13:57] #44 closed

[2016-06-02 08:11] helarqjsc commented on #39
I still get the exact the same error in the exact same circumstances in 2.0.1, so I don't think it was fixed.

[2016-06-02 16:03] #39 closed

[2016-06-02 16:17] MikeRogers0 commented on #39
@helarqjsc I've pushed 2.1.0 to the Chrome Store. Can you confirm the fix works for your use case for me? :)

[2016-06-06 09:57] MikeRogers0 opened #45 "Console.log when LivePage is turned on/off + a few stats."
Maybe something like:

[code]

[2016-06-11 20:16] andyrichardson opened #46 "Uncaught TypeError In Console when using React"
`Uncaught TypeError: Cannot read property 'refresh_rate' of undefined`

I've encountered the following error which does not seem to effect functionality but is repeatedly posted in the console upon live page changes (although not consistently).

I think this has something to do with a need for 'mutual exclusion' during each call of `Settings.refresh()`\- the settings class might benefit from a mor

[2016-06-12 12:54] MikeRogers0 commented on #46
I can't reproduce this error, could you provide more information (the URL you're on and steps I can follow to see the error) to help me out?

[2016-06-12 13:19] andyrichardson commented on #46
URL: file:///home/andy/Development/React.js/index.html
Files: https://github.com/MyFrameworkSnippets/React.js

Reproduction:
Open html file in chrome, edit and save a linked javascript file (may take more than one attempt).

[2016-06-18 15:33] MikeRogers0 opened #47 "Readme still says we do LESS"

[2016-06-19 12:30] MikeRogers0 commented on #46
I've had a chance to look into this error more closely this weekend, I wasn't able to reproduce the issue with the steps provided. Though I did also attempt to recreate the issue on a few react projects I have locally.

I suspect that if your setup is anything like [this react tutorial](https://www.fullstackreact.com/articles/react-tutorial-cloning-yelp/), react is in development mode & is conflic

[2016-06-19 12:31] #47 closed

[2016-06-20 19:08] MikeRogers0 opened #48 "On options page, site list does not show ports."

[2016-06-23 11:36] andyrichardson commented on #46
That may very well be the case, I'll look into recreating this issue with/without using React and hopefully confirm your suspicions.

[2016-06-23 12:28] CodinCat opened #49 "Don't monitor 404 files"
Currently, LivePage will keep yielding errors if there is a 404 file:

![screenshot](https://cloud.githubusercontent.com/assets/3193344/16302803/bcfb813e-397f-11e6-9b57-5ced134f6206.png)

I think this can be an option:
Should LivePage ignore non-existing files

so we can get rid of these errors in some cases.

[2016-06-23 14:40] MikeRogers0 commented on #46
Awesome thank you @andyrichardson !

[2016-06-23 14:53] #49 closed

[2016-06-23 14:54] MikeRogers0 commented on #49
Thank for you reporting this bug @CodinCat :)

I'm intending to publish the bugfix to the Chrome Store (which will then push to your browser) by Friday 24th of June.

[2016-06-26 11:39] MikeRogers0 commented on #31
I'm closing this issue. While testing the most recent release I was unable to recreate this issue, though I think chrome will try to save CPU/GPU cycles where possible.

In either case, without doing a hard refresh every once in a while I can't see a good fix this to.

[2016-06-26 11:39] #31 closed

[2016-07-08 10:55] arechsteiner opened #50 "Refresh resets scroll location to top"
I'm using LivePage to auto-refresh a site that has a greater height than my viewport. When I'm scrolled all the way to the bottom (say I'm working on the footer), and I make a change, the auto-refresh often leaves me at the very top of the page.

This does not happen all the time. But I can reproduce it fairly good by modifying the padding of an element. If I modify the color of the same element t

[2016-07-08 15:23] MikeRogers0 commented on #50
This is most likely happening because the page is being drawn by the browser (In a few microseconds it goes from old styles > no styles > new styles).

Though I can imagine how this would be annoying, I try and find a fix to restore the page scroll position upon redrawing/reloading the page this weekend :)

[2016-07-08 15:26] MikeRogers0 opened #51 "Localize for en_US / en_GB"
https://developer.chrome.com/webstore/i18n#details - Use the newer style & break up the strings a bit more.

[2016-07-08 22:48] #48 closed

[2016-07-09 11:42] #51 closed

[2016-07-09 12:19] #50 closed

[2016-07-09 12:22] MikeRogers0 commented on #50
This is now in master, I'm going to aim to get this released to the chrome store by tomorrow morning :)

[2016-07-10 11:40] MikeRogers0 opened #53 "Add in payment verification"
https://developer.chrome.com/webstore/one_time_payments#verifying-payment - It requires a permission change so I'll just put this on the back burner for now.

I could also remove the free trial & not have to bother with this.

[2016-07-12 14:06] arechsteiner commented on #50
Works great now! Thank you very much.

[2016-07-25 16:25] MikeRogers0 opened #54 "Omnibar is incorrect phrasing"
https://github.com/MikeRogers0/LivePage/blob/master/_locales/en/messages.json#L62

Omnibox is the correct term, but address bar is probably more accurate.

[2016-07-27 17:31] MikeRogers0 opened #55 ""Changes on the server" phrasing needs to be better"
"Updates on the server" sounds clearer.

https://github.com/MikeRogers0/LivePage/blob/master/_locales/en/messages.json#L11
https://github.com/MikeRogers0/LivePage/blob/master/_locales/en/messages.json#L101

[2016-07-30 16:03] #54 closed

[2016-07-30 16:09] #55 closed

[2016-07-30 16:53] MikeRogers0 opened #56 "Encourage users to rate LivePage in the Chrome Web Store"
Maybe a link in the on the options page or something.

[2016-08-01 13:27] arechsteiner opened #57 "Page not reloaded on CSS change with multi-step build process"
LivePage stopped working for me with CSS files. I am not sure of the exact cause, and I don't know how to debug or troubleshoot this plugin.

I have a suspicion though: My build process involves trans-piling multiple CSS files from SCSS sources. I think it stopped working when I started doing the steps sequentially instead of concurrently. I suspect that LivePage reloads when the first CSS is buil

[2016-08-01 13:34] arechsteiner commented on #57
I want to add that I also run into trouble when I use LivePage with "JavaScript" enabled, for similar reasons: LivePage starts reloading because the JavaScript is already built, but not the CSS. Then the page is all messed up because the CSS is not in place.

I think a possible approach to all of this would be a possible time delay between the trigger and the actual reload, to enable the build pro

[2016-08-01 14:38] MikeRogers0 commented on #57
That sounds like quite an annoying problem, out of interest what are you using to transpile your code?

Sounds good! I'm happy to implement this kind of feature in the next build :)

[2016-08-01 14:55] arechsteiner commented on #57
I use gulp with gulp-sass, which ultimately uses libsass (I think). There's some other stuff going on as well, such as copying files around and things like that. Minification, linting, autoprefixer, etc.

I'm happy to hear you're willing to implement this. At the moment I'm refreshing the browser manually which is not the idea of the plugin of course.

[2016-08-02 08:02] MikeRogers0 opened #58 "Landing page"
It could be cool to make a landing page like https://askjelly.com/extension/?ref=producthunt - though I'm not sure how inline installs would work if it's paid for / free trail.

[2016-08-04 13:25] andyrichardson commented on #58
@MikeRogers0 I can do a quick design over the next couple of days if you're interested?

[2016-08-04 13:49] MikeRogers0 commented on #58
@andyrichardson That would be awesome! Want me to drop you an email to talk ideas?

[2016-08-04 14:19] andyrichardson commented on #58
@MikeRogers0 Go for it

[2016-08-04 18:42] juanmiguel431 opened #59 "Need a new feature."
I think it will be good idea to add the way also to could specify the path that i want this extension scan. To prevent to make a lot of clicks for every new page or file that we developed.

[2016-08-05 17:27] MikeRogers0 commented on #59
I've updated the title to summarise the feature you're requesting :) This seems like a reasonable feature and if more users request it I'll implement it in the next release.

In mean meantime you can use the `rel="livePage"` to specify which paths to be monitored ( Like `<link rel="livePage" href="/path/to/file.html" />`), or limit the monitoring by type (HTML/CSS/JS).

Hope this helps :)

[2016-08-09 13:20] MikeRogers0 commented on #58
As mentioned by @andyrichardson maybe something like https://onepagelove.com/paws-for-trello

[2016-08-09 14:19] andyrichardson commented on #58
Its a very basic example but maybe something along these lines might work.

![livepage landing page](https://cloud.githubusercontent.com/assets/10779424/17519613/9cd9de8e-5e44-11e6-95c0-2e75645884d4.png)

[2016-08-09 20:31] MikeRogers0 commented on #58
Awesome dude! I'll get coding up & ping you a repo :)

[2016-08-14 17:11] MikeRogers0 commented on #58
https://github.com/MikeRogers0/LivePage-landing - Sorry it took me a few days to get something up. But I got started with a fairly basic middleman site.

Hopefully I get a bit more time this week to make it look a lot prettier / look more closer to @andyrichardson  mockup.

[2016-08-15 10:00] andyrichardson commented on #58
@mikerogers0 thanks for the update. I'll watch the repo and start getting involved after your initial push.

[2016-08-24 08:39] MikeRogers0 commented on #57
I haven't forgotten about this, I'm hoping to get some time to work on this during this weekend :)

[2016-08-29 19:01] MikeRogers0 commented on #57
https://github.com/MikeRogers0/LivePage/tree/feature/reload-delay - Got it working :) I'm going to tidy up the settings page before this is released, it looks a little gnarly right now.

[2016-10-08 11:59] MikeRogers0 commented on #58
https://livepage.mikerogers.io/ - Looking good! I'm closing this ticket now :)

[2016-10-08 11:59] #58 closed

[2016-10-08 12:01] MikeRogers0 commented on #53
I'm not going to bother with this. I think in the grand scheme of things I'm better of asking users to leave a nice review as per https://github.com/MikeRogers0/LivePage/issues/56 .

[2016-10-08 12:01] #53 closed

[2016-10-27 16:56] arechsteiner commented on #57
I have now worked around this issue using

      <link rel="livePage" href="/reload.html" />

I have disabled CSS/JavaScript watching and instead in my build process, as a very last step, I update reload.html so LivePage is triggered only after the build is finished.

[2016-10-27 23:29] MikeRogers0 commented on #57
@arechsteiner Awesome!

I'm still figuring out a good way to implement the reload delay without confusing users wouldn't use the feature. I might make it a shadow option (so you open the terminal on the settings page to enable it), what do you think?

[2016-10-28 10:24] arechsteiner commented on #57
If I were you, I would add a setting like the polling setting, possibly a new category

## Reload settings

- [ ] Attempt to persist scroll X/Y positions
- Minimum delay before reloading: `0` ms

  _Set a delay if you want LivePage to wait before reloading the page. This is useful when you have a build process that needs to finish before a reload is triggered._

[2016-10-29 17:35] MikeRogers0 commented on #57
@arechsteiner Sounds cool. I'll try and get some updates done this weekend (I'm flying though, so bear with me) :)

[2016-10-30 01:22] #57 closed

[2016-10-30 02:12] #56 closed

[2016-10-30 15:52] Hativ3 commented on #43
I don't use IntelliJ, but often get the same errors on Chrome's developer tools console.

Code in line 225 is:
`setTimeout(function() { $livePage.checkBatch(); }, $livePage.options.refresh_rate);`

While I'm debugging a javascript application other errors are really annoying.

Chrome 54 on Windows, LivePage 2.2.3

[2016-10-30 15:55] Hativ3 commented on #59
+1

[2016-11-01 10:00] MikeRogers0 commented on #43
@Hativ3 thanks for the report :)

Can you provide some more details of your setup? e.g. a repo I can run to figure out whats up?

[2016-11-01 21:46] MikeRogers0 commented on #43
I'm going to rescope '$livePage' to 'window.$livePage' I think that should solve this issue for good :)

[2016-11-01 22:31] Hativ3 commented on #43
Unfortunately I can't provide a repo. but I think it's a general issue and rescoping may be does the trick. I'll test it as soon you released a update. Thank you!

[2016-11-03 08:26] #43 closed

[2016-11-03 08:30] MikeRogers0 commented on #46
Hopefully fixed in https://github.com/MikeRogers0/LivePage/pull/65

[2016-11-03 08:30] #46 closed

[2016-11-03 09:21] MikeRogers0 commented on #43
@Hativ3 I've pushed 2.3.0 to production, it should role out to all users in the next 24 hours :)

[2016-11-03 10:35] Hativ3 commented on #43
No errors anymore, great! Thank you!

[2016-11-03 14:55] andyrichardson commented on #46
Let me know if you want me to test it out.

[2016-11-03 21:11] MikeRogers0 commented on #46
@andyrichardson That would be awesome if you could :)

[2016-11-03 21:18] MikeRogers0 commented on #45
I'm going to close this one, I think LivePage works better when it's totally silent to the user.

[2016-11-03 21:18] #45 closed

[2016-11-03 21:23] MikeRogers0 commented on #59
In terms of implementation, how do you feel about a whitelist/blacklist approach in the Options page?

[2016-11-03 21:32] Hativ3 commented on #59
Sounds good. How about a textarea where I can fill in the urls line-separated and two radio-buttons where I can select if its a whitelist or blacklist? Using whitelist and blacklist at the same time makes so sense, IMHO.

[2016-11-04 22:16] MikeRogers0 commented on #59
I think a textarea would be easiest, I'll sketch out ideas over the next month or so & put screenshots up in here :)

[2016-11-06 15:33] andyrichardson commented on #46
All good here :+1:

[2016-11-20 01:42] chrisjj opened #69 "2.11 Fail on view-source:file://"
I'm getting no auto-update on view-source:file:// tabs.

file:// tabs are working fine.

Any remedy?

[2016-11-20 07:42] MikeRogers0 commented on #69
'view-source:file://' is currently not supported unfortunately. I'll have an experiment this week to see if adding support is possible :)

[2016-11-20 07:44] MikeRogers0 commented on #69
Out of interest why wouldn't making the 'file://' live not handle your use case?

[2016-11-20 12:56] chrisjj commented on #69
Misleading report. Sorry. In truth, LiveUpdate responds with a very clear statement:
![image](https://cloud.githubusercontent.com/assets/6157073/20462948/a038d9c2-af20-11e6-972f-f7c00a80648c.png). Thanks.

Great! I'll look forward to trying it.

I'm adjusting a PHP source, rebulding, and in the browser verifying the effect on non-render items such as data- attributes... using view-source.

[2016-11-21 02:32] MikeRogers0 commented on #69
Oh that use case makes a lot of sense @chrisjj - I'll adjust the title to make this a feature :D

[2016-11-22 00:14] chrisjj commented on #69
Thanks! That'll save me a few thousand ALT+TAB, CTRL+Rs :-)

[2016-11-24 02:37] codeandcats opened #70 "Cannot read property 'refresh_rate' of undefined"
Hi Mike,

I freaking love this extension so much. Thanks for creating it. There's just one niggling problem I have with it constantly which is very frustrating when debugging an web app I'm working on. LivePage will frequently pop up this error when reloading a page:

[code]

Here is the offending code:
[code]

Note that is doesn't occur every time, but most of the time.

If you were able to push

[2016-11-24 05:56] MikeRogers0 commented on #70
Hey I've struggled to recreate this error ( see #46 ). Could you send me some details about you setup to help me recreate?

[2016-11-24 06:07] codeandcats commented on #70
Interesting, the project I get the error in is also using React. I'll do some more investigation, time allowing, sometime over the next couple days and maybe come up with a barebones project demonstrating the issue.

[2016-11-24 06:43] MikeRogers0 commented on #70
That would be amazing! Also you wouldn't happen to be in Sydney would you?

[2016-11-24 07:35] codeandcats commented on #70
No worries at all. Actually I'm in Melbourne.

[2016-11-25 03:22] MikeRogers0 commented on #70
Ah darn, I'm in Sydney for the next 2 weeks :)

[2016-11-25 03:42] codeandcats commented on #70
Oh cool. Business or pleasure? Would have been good to buy you a beer or two - would be the least I could do for all time this extension has saved me! Well hopefully you get some time to pop down to the beach while you're here and enjoy some of our warm weather. 😄

[2016-11-26 01:38] codeandcats commented on #70
Hey Mike, I had some time this morning to look at this and seem to have a working solution. See [PR](https://github.com/MikeRogers0/LivePage/pull/71).

I didn't bother with a barebones example to replicate the issue but instead testing it out in a project I'm working on.

You should be able to replicate it by cloning [this](https://github.com/grammatic/grammatic-ide).

Then run:
[code]

Open `inde

[2016-11-26 09:41] #70 closed

[2016-11-27 10:02] MikeRogers0 commented on #59
I haven't forgotten about adding this! I have some time scheduled this week (Wednesday & Saturday) to get it built. I'm also aiming to get #69 done in that time :)

[2016-11-28 02:33] MikeRogers0 opened #72 "Capture 404 errors so they don't appear in terminal"
A user saw the errors and emailed me (The email was difficult to understand), I think they were linking to missing files & didn't understand the error message.

Ideally I'd like to move all the LivePage stuff to be out of the users view so they can focus on building.

[2016-12-02 11:16] Wittner opened #73 "LivePage is disabling itself intermittently"
LivePage frequently disables itself while I'm working. Every few iterations it will lose its 'Live' badge and not update the browser when I make a change to a file.

Chrome version: Version 54.0.2840.98 (64-bit)
OS: iMac, late 2015 with Sierra 10.2
Editor: Atom

Let me know if you need any other info

[2016-12-03 00:03] MikeRogers0 commented on #73
Oh that's not intended behaviour, do you have a link to the page/project you were working on (It'll help me debug)?

[2016-12-03 23:36] MikeRogers0 commented on #69
This might take me a bit longer to implement as it appears I can't inject JS into the `view-source:` pages like I normally would. However I believe I might have found a suitable solution (Doing the XHR request in the extension context), as a result it might take be a bit longer to implement.

[2016-12-04 00:02] chrisjj commented on #69
Thanks. I'm patient :)

[2016-12-07 23:13] chrisjj opened #74 "Split Ignore inline JavaScript & hidden fields in HTML into two different options"
I think the Advanced Settings Ignore options should be off by default (currently on).

In particular I think "[x] Ignore inline JavaScript & hidden fields in HTML" makes no sense at all as a default.

[2016-12-08 09:50] ArtOfCode- commented on #72
Query: Is this desirable? I only ask because if a file can't be found, I want to know about that when I'm building the app, which I find out from the console. The only alternative is no error, in which case I end up with an unstyled page with no obvious errors.

[2016-12-08 21:15] MikeRogers0 commented on #72
@ArtOfCode- I totally agree with you! I'm going to close this bug :)

[2016-12-08 21:15] #72 closed

[2016-12-10 20:37] MikeRogers0 commented on #74
I disagree, options such as "Ignore comments in HTML" & "Skip external resources such as googleapis.com or CDNs" are sensible defaults to have enabled.

This was enabled by default for two reasons:
1. Lots of webpages have CSRF tokens stored in hidden fields which change every page load (and hence would trigger a page reload), to stop bots submitting forms.
2. Inline javascript was added as a numb

[2016-12-11 01:28] chrisjj commented on #74
I was referring just to the Ignore options.

The issue caused here by these Ignores enabled _by default_ was that inline Javascript changes. were beign ignored despite what LivePage says on the tin:

"LivePage is a developer tool which reloads website resources (such as CSS, HTML and JavaScript) as they update on the server, so you are always looking at the most up-to-date version of a web page. I

[2016-12-13 16:18] MikeRogers0 commented on #74
Ok that seems reasonable, I'll break out that option into:

- "Ignore inline javascript" - Disabled by default
- "Ignore hidden HTML elements & comments" - Enabled by default

[2016-12-13 16:28] MikeRogers0 commented on #69
Timing for this, I've moved it to 2.5.0 to prioritise #74 . I'm aiming to finish 2.4.0 over Christmas & 2.5.0 in January.

[2016-12-13 16:45] chrisjj commented on #74
Mike,

Sounds good to me.

And I think 'Ignore hidden HTML elements' (taking that to refer just to elements having type='hidden') shouldn't operate when they aren't hidden from view i.e. in view-source:.

BTW, I think "Monitor adhoc files using:"" would be better worded "Monitor files specified using:". The files probably are aren't adhoc ;-) .

[2016-12-13 16:46] chrisjj commented on #69
Sounds appropriate to me :)

[2016-12-14 20:18] MikeRogers0 opened #75 ""Monitor adhoc files using:"" would be better worded "Monitor files specified using:"."
https://github.com/MikeRogers0/LivePage/issues/74#issuecomment-266791633 - @chrisjj suggested much better wording for this setting.

[2016-12-14 20:18] MikeRogers0 commented on #74
BTW, I think "Monitor adhoc files using:"" would be better worded "Monitor files specified using:". The files probably are aren't adhoc ;-) .

I like that wording! I've added it as its own ticket :)

[2016-12-19 22:11] #75 closed

[2016-12-19 22:12] MikeRogers0 opened #77 "Add test suite"

[2016-12-20 07:43] MikeRogers0 commented on #74
PR in #78 will review tomorrow with fresh eyes.

[2016-12-21 07:52] MikeRogers0 commented on #74
This is now in master, aiming to have this rolled out by the end of the month :)

[2016-12-21 07:52] #74 closed

[2017-01-02 01:07] chrisjj opened #79 "V2.3.2 "Cannot read property 'refresh_rate' of undefined""
I'm getting this error http://i.imgur.com/f38l1WM.png when I click my page's link:

`<a id='se1' onclick="searchex('se1')" href='#'>D'Arienzo</a>`

I'd rather not post the full page source.

[2017-01-02 02:04] MikeRogers0 commented on #79
Hi @chrisjj Is this happening on every page you visit & immediately after you enable LivePage?

[2017-01-02 04:16] chrisjj commented on #79
No.

[2017-01-02 07:29] #77 closed

[2017-01-02 07:49] MikeRogers0 commented on #59
Moved to 2.5.0, I ran out of time to get this done. Hopefully will get more time soon!

[2017-01-03 06:30] MikeRogers0 commented on #79
I'm struggling to reproduce this error @chrisjj would you be able to email me more details (me@mikerogers.io) so I can debug?

[2017-01-05 00:49] chrisjj commented on #79
Mike, I've emailed you a sample HTML file. When I open this in Chrome, enable LP (options http://i.imgur.com/chw45j0.png , http://i.imgur.com/blKCELd.png ) , open console, and click the link **D'Arienzo**, I get the error: http://i.imgur.com/qieMASW.png .

[2017-01-08 03:34] #79 closed

[2017-01-08 03:36] MikeRogers0 commented on #73
#81 Might also fix this issue. I'll close this once I push 2.4.1 to production.

[2017-01-08 03:51] #73 closed

[2017-01-08 14:23] arechsteiner opened #82 "Settings screen broken"
I just noticed that LivePage is not working anymore for some reason, and went to see the options page. It looks like something went wrong:

![screenshot_1](https://cloud.githubusercontent.com/assets/1199486/21750563/3f1f8976-d5b6-11e6-86bc-24675db40bf6.png)

I've tried restarting chrome and removing/reinstalling LivePage. Nothing seems to help.

Any advice on how to troubleshoot this?

[2017-01-08 21:35] MikeRogers0 opened #83 "Add build task to compress requires files for Chrome Web Store"
Right now I'm required to manually build the extension for the chrome web store, I should automate this as a NPM task.

[2017-01-08 21:36] MikeRogers0 opened #84 "Increase code coverage in tests"
I added tests to the current version, but I've not covered everything yet. I need to work on ways to confirm more of the code base in working as intended between deploys.

[2017-01-08 21:38] MikeRogers0 commented on #82
I'm 100% sorry, when deploying the latest version I linked a file incorrectly. I've deployed a fix & restarting your browser will fix the issue.

I'm working on improving the processes my end ( #83 & #84 ) to make building the extension & verifying silly mistakes like this don't make it to production in the future.

[2017-01-08 21:38] #82 closed

[2017-01-09 01:40] chrisjj opened #85 "Bug: Options text can go missing"
Since clearing browing data http://i.imgur.com/J4OvTIi.png , whenever I click LP Options http://i.imgur.com/AdRyiVr.png I get lots of text missing:

![image](https://cloud.githubusercontent.com/assets/6157073/21755578/175e3448-d60e-11e6-86b1-e37976cf923b.png)

[2017-01-09 01:45] chrisjj opened #86 "Please support chrome:// protocol"
Current attempting to engage LP on e.g. chrome://history/ fails: http://i.imgur.com/qDzWEUT.png .

If it is not much work, please remedy this. That will let me see a like History list while I'm debugging JS code that alters it e.g. using window.location hash =.

Thanks.

[2017-01-09 02:01] MikeRogers0 commented on #85
Duplicate of #82 - A fix has been deployed & is currently rolling out to all users.

[2017-01-09 02:01] #85 closed

[2017-01-09 02:07] MikeRogers0 commented on #86
I'm open to adding an option to disable the protocol restriction in a future version behind a flag in the advanced settings. It might take me time to implement (2.5.0 is my current focus), but giving users more control seems good.

[2017-01-09 02:20] chrisjj commented on #85
Ah, thanks. That had been closed, so I didn't see it.

Did this bug get delivered by an automatic update of my Live Page installation? If so, how can I disable automatic update?

[2017-01-09 02:25] chrisjj opened #87 "Feature request: option to disable hash part in page ID"
I'm debugging a page using anchors i.e. some link clicks change just the URL hash part.

Each new hash part value causes LP to disable. It seems LP includes the hash part in identifying the page.

I'd like an option to disable this. I'd like it disabled by default, though maybe a few others would not.

[2017-01-09 02:26] chrisjj commented on #86
Thanks Mike.

[2017-01-09 03:37] MikeRogers0 commented on #87
What are your settings for:
 - Run LivePage on entire domains
 - Ignore URL anchors
Set to?

[2017-01-09 03:42] MikeRogers0 commented on #85
@chrisjj
Extension automatic updates are managed by the chrome store.

To avoid automatic updates you can installed the [the development version of LivePage](https://github.com/mikerogers0/livepage#running-development-version-in-chrome), though this will display a warning every time you load chrome.

[2017-01-09 12:00] chrisjj commented on #85
Thanks. That initially failed ("[x] Allow access to file URLs" http://i.imgur.com/TWT1I2s.png gave "Sorry this protocol is unsupported") but after browser restart, it works.

If I get tired of the warning, I'll try setting Read-Only on the production version's directory \Google Chrome\Data\profile\Default\Extensions\pilnojpmdoofaelbinaeodfpjheijkbh\2.4.1_0 hoping this won't prevent Options changes

[2017-01-09 12:11] chrisjj commented on #87
I wouldn't like to guess :)

![image](https://cloud.githubusercontent.com/assets/6157073/21766010/eb7d22b6-d663-11e6-95f8-f648e6d4c511.png)

However switching from 2.4.1 production variant to 2.4.2 development variant I find the problem has disappeared... and I see option '[x] Ignore URL anchors'. Great!

FWIW, I see '[ ] Run LivePage on entire domains'. From the wording of that label and the fact

[2017-01-09 18:53] #87 closed

[2017-01-10 10:20] arechsteiner commented on #82
It's working again. Thanks for the quick fix.

I like to use a checklists that I go through before/after releasing stuff. It provides some peace of mind as well as preventing screw-ups. Automation is also good of course.

[2017-01-12 10:12] Wittner commented on #73
Sorry for the not gett back to you Mike. The app has not reproduced this behaviour in the last couple of weeks so it seems to have sorted itself. It's reporting version 2.4.2. and you were wondering if 2.4.1 would fix it. Looks like it did :-)

[2017-01-17 18:52] timsayshey opened #88 "ERR_SOCKET_NOT_CONNECTED on Server Restart"
Throws an error when I restart my server in the background:
[code]
It should catch the error, not stop the entire extension. Please advise.

[2017-01-17 19:51] #88 closed

[2017-01-17 19:54] MikeRogers0 commented on #88
Thank you @timsayshey ! If we cross paths (I am sometimes in the US) make sure to make me buy you a beverage 👍

[2017-01-19 19:56] MikeRogers0 commented on #88
This has now been deployed to production, thank you again!

[2017-01-19 19:58] MikeRogers0 commented on #88
Also @timsayshey thank you for the kind review on the chrome store, it really helps me :)

[2017-01-21 10:37] gkovacs opened #90 "chrome-extension:// is not a supported protocol"
I'm trying to use this extension to develop the options page for a chrome extension of my own, which was side-loaded from the filesystem. However, when I click the LivePage icon while navigated to the options page URL (which has protocol chrome-extension:// ) it tells me that it is an unsupported protocol. Could you either add support for the chrome-extension:// protocol, or make it such that I ca

[2017-01-21 20:34] MikeRogers0 commented on #90
This is a duplicate of #69 - I'm working on making this option a power feature in the next release. I'm aiming to for an early February release :)

Also, best of luck on your extension!

[2017-01-21 20:34] #90 closed

[2017-01-25 12:30] vincegio opened #91 ""file:// protocol needs enabling." - Enabled already"
It's enabled, but nothing. Restarted browser and toggled the extension.

[2017-01-25 19:53] MikeRogers0 commented on #91
This is a duplicate of #86.

In this case, `chrome://` is the protocol & it's not supported. I'll update the copy to make it clearer.

[2017-01-25 19:53] #91 closed

[2017-02-12 15:05] Hativ3 opened #92 "LivePage doest'n work if url contains http auth credentials"
If the url contains http auth credentials, e.g. https://user:password@example.com, LivePage doesn't work.

[2017-02-13 02:13] MikeRogers0 commented on #92
I can totally see how that would be annoying, I'll get working on a workaround ASAP :)

[2017-02-21 08:16] gromimol opened #93 "window.sessionStorage error thrown on file:// protocol"
Don't work LivePage after 3 month. Before LivePage work awesome, but now not want. Allow access to FilesURLs - active

[2017-02-21 08:52] MikeRogers0 commented on #93
OK, not much has changed in the last 3 months with LivePage.
Questions to help me debug:
1. What version are you using?
2. What is the URL you are trying to use LivePage on? Can you send me what you're working on so I can recreate error locally?
3. Are there any errors in the chrome console when you try to run LivePage?

Thanks!

[2017-02-21 08:53] MikeRogers0 opened #94 "Context menu for enabling/disabling LivePage for a page"
A user in the reviews section ( Ricky Whicker ) suggested adding a context menu for enabling/disabling LivePage for a page as well as having the extension button.

[2017-02-21 09:07] gromimol commented on #93
Thank’s for your quick answer! Sorry for my English))
1. Today I’m reinstalled LivePage. Version - 2.4.3 now
2. I’m using only file// URLs
3. Yes, console have error http://joxi.ru/l2ZRPkQFwRxKv2 <http://joxi.ru/l2ZRPkQFwRxKv2>
maybe for you better work  through TeamViewer?

[2017-02-21 09:19] MikeRogers0 commented on #93
Ok, I understand the error. I'm working on a fix now.

[2017-02-21 09:27] gromimol commented on #93
Thanks

[2017-02-21 09:30] #93 closed

[2017-02-21 09:40] MikeRogers0 commented on #93
@gromimol I've just deployed a patch for this error to the Chrome Web Store. It will take about 1 hour to be available in the Chrome Web Store, then rolled out automatically over the next 24h.

Thank you for reporting this! I'm sure this would have affected a lot of other users :)

[2017-02-21 09:41] gromimol commented on #93
If i understand correct, the problem in Chrome? Because , i’m reinstalled LivePage again and see the same problem

[2017-02-21 09:44] gromimol commented on #93
Thanks for your work!!!

[2017-02-21 09:49] MikeRogers0 commented on #93
@gromimol

Something changed in chrome recently I think, which caused the error.

The new version will be available in the Chrome Store in an hour, when you reinstall then it'll work again :)

[2017-02-21 09:58] gromimol commented on #93
Mike, you best of the best!!! Your speed response and a solution problem!!! Cool!! And LivePage really good product!

[2017-02-21 14:39] MikeRogers0 commented on #86
I looked into implementing this feature this evening. It looks like Chrome does not allow extensions to run on the `chrome://` URLs (also called WebUI) for security reasons.

[2017-02-21 14:39] #86 closed

[2017-02-21 15:05] chrisjj commented on #86
OK. Thanks.

[2017-02-26 10:35] masterkadaj opened #95 "Antimalware notification"
Good day!
It's an issue or misunderstanding I suppose, still my Malwarebytes AdAware tells me that this extension is a malware, I understand, that this extension monitors local computer's file system, but, are you planning to do something about that notification? (I don't don't know, may be contact with Malwarebytes, check the code or something like that).

[2017-02-26 11:23] MikeRogers0 commented on #95
I'm going to get in contact with Malwarebytes AdAware to find out what is trigging this warning. You can see [all the source code](https://github.com/MikeRogers0/LivePage) that goes into this extension and there is 100% nothing mischievous in there.

[2017-02-26 11:37] MikeRogers0 commented on #95
@masterkadaj Could you provide me more details of the notification? For example, what was the name of the threat it thought LivePage contained? Anything to help me debug what is triggering Malwarebytes would be helpful :)

[2017-03-09 07:31] MikeRogers0 commented on #95
I haven't had any more reports of this alert & Malwarebytes failed to respond to my request. I'm closing this off.

[2017-03-09 07:31] #95 closed

[2017-03-16 15:17] MikeRogers0 opened #96 "Sometimes localhost does not return correct response"
127.0.0.1 does though. It's on a MAMP setup.

[2017-03-22 13:31] matchwood opened #97 "No reload on js file included in body"
When I include a javascript file in <head> the plugin polls as expected, but when I move the same tag to <body> the plugin doesn't seem to pick it up. I'm guessing it might be a timing issue - perhaps LivePage is running for the first time too early?

I am using Chrome on Ubuntu Version 54.0.2840.71 (64-bit).

[2017-03-22 19:42] MikeRogers0 commented on #97
Can you give me a code example? I'm struggling to visualise what you mean.

[2017-03-22 22:48] matchwood commented on #97
Sure, I mean like this:
[code]
LivePage generates GET requests for doestrigger.js, but doesn't generate any for doesnottrigger.js.

After playing around a bit I'm pretty sure that it is a timing issue - the file I'm including in the body (`doesnottrigger.js`) takes a few seconds to finish running when it is first loaded. If I include the file but stop it from running then LivePage works as expecte

[2017-03-23 15:53] MikeRogers0 commented on #97
Ok awesome! I'll try and recreate this bug my end & work on a fix :)

Thank for you reporting this to me!

[2017-03-23 21:02] matchwood commented on #97
Many thanks. I can provide the original failing file if you like (though it it is a timing issue then it may not replicate on your machine in any case).

[2017-03-23 21:21] MikeRogers0 commented on #97
That would be incredible! My email is me@mikerogers.io :)

[2017-03-23 21:35] matchwood commented on #97
Thanks for looking into it - emailed you just now.

[2017-04-01 19:15] MikeRogers0 commented on #97
Just a heads up, I haven't forgotten about this. I'm still looking into it :)

[2017-04-07 17:57] MikeRogers0 opened #98 "http://localhost links are being counted as "external resources such as googleapis.com or CDNs"
A user mentioned this bug in the review section

[2017-04-07 21:09] #97 closed

[2017-05-18 21:06] bachhuberdesign commented on #94
Is this something you would accept a pull request for?

[2017-05-18 21:37] MikeRogers0 commented on #94
Yes, that would be awesome!

On Thu, 18 May 2017 at 17:06, Eric Bachhuber <notifications@github.com>
wrote:

[2017-06-03 00:40] MikeRogers0 opened #99 "Big JS files (Made with compile-to-javascript compilers) changes aren't picked up on"
A user reported that large JS files generated by a compile-to-javascript compilers are causing LivePage to not reload correctly.

I suspect when the string is passed into the [`tidyCode`](https://github.com/MikeRogers0/LivePage/blob/master/js/injected/live_resource.js#L104) function the size of it is causing the extension to crash.

[2017-06-29 00:06] L3V147H4N opened #100 "LivePage disables after reload"
Im using LivePage in a (NodeJS/FeathersJS, React) prpject that compiles with webpack and it reloads when webpack compiles the JS but after the reload LivePage disables itself

[2017-06-29 09:29] MikeRogers0 commented on #100
Thanks for reporting! I need some additional information to help me recreate this:

1. When you open the console in Chrome are there any errors being thrown while using the above?
2. Do you have a copy of the code I can run my end to reproduce the error?

[2017-06-29 20:58] JChanceHud opened #101 "Donation link"
I'm having trouble purchasing through the google store (obscure payment error) and instead downloaded the source and installed manually.

If you could put some sort of donation system in place I'd be happy to send a donation your way. I'd prefer Ethereum or Bitcoin, but Paypal works too, this tool is super helpful for rapid prototyping/development.

Just a thought, thanks for the hard work.

[2017-07-01 12:35] MikeRogers0 commented on #101
I used to have a donation link, but no one ever clicked it so I removed it.

To be honest, your kind words mean much more to me then any donation! I love hearing from developers that LivePage is helping them build!

[2017-07-01 12:35] #101 closed

[2017-07-01 12:36] #96 closed

[2017-07-03 14:49] L3V147H4N commented on #100
my repository is currently private, I share it once I've make sure I can.
(as a side note) I recently started using the latest version of webpack and now the extension is working correctly but I don't know if it has anything to do with it, I'll do further testing

[2017-07-03 14:51] L3V147H4N commented on #100
The problem seems tide to the different routes, I configure `localhost:3030` to be live but anything beyond it like `localhost:3030/something` doesn't seem to work

[2017-07-03 15:06] MikeRogers0 commented on #100
Could be related to #98 - I'll investigate more this week :)

[2017-07-08 17:42] #100 closed

[2017-07-08 17:47] MikeRogers0 commented on #100
@L3V147H4N Good news! I was able to track down what was causing the issue (URLs with port numbers were being considered as external resources). I've pushed a fix to the store.

Thank you so much for reporting!

[2017-07-10 10:29] megasan84 opened #102 "LivePage does not reload the page"
LivePage used to work, but now Livepage stopped automatically reloading the page.
When I click the F5 on page, page is updated.
The page is on localhost

OS: Archlinux
Browser: Google Chrome 54.0.2840.90 (64-bit)

[2017-07-10 10:47] MikeRogers0 commented on #102
Thanks for reporting this @megasan84, I'm struggling to reproduce this though I'm seeing other reports of people mentioning the issue.

I'm looking into this now :)

[2017-07-10 11:00] MikeRogers0 commented on #102
I've pushed a patch to the Chrome Store ( 2.6.1 ), it should solve your issue. If not could you do the following:

In this ticket, share what your current LivePage options are set to, the full URL (e.g. https://localhost:8080/myfile.html ) and any console output.

Thanks :)

[2017-07-10 12:37] megasan84 commented on #102
Version 2.6.1 did not help me solve the problem.
My page does not open directly.
I have my own small MVC engine, which loads the content from the template.
Previously, everything worked, now no.

[2017-07-10 13:29] MikeRogers0 commented on #102
I appreciate you're patience while I fix this bug. I just pushed another hotfix ( 2.6.2 ) to the store. If you could report back if this fixes I'll be very appreciative!

I think the issue was with https://github.com/MikeRogers0/LivePage/blob/886167a8b3dd120e23a7b908b3ce7f549f58e068/js/injected/livepage.js#L220 this line of code.

[2017-07-10 13:52] megasan84 commented on #102
The expansion version in the store remained 2.6.1 :(

[2017-07-10 14:00] megasan84 commented on #102
Sorry, but version 2.6.2 not resolved my problem :(

[2017-07-10 14:10] MikeRogers0 commented on #102
@megasan84 I'm not certain how to fix.

If you're feeling confident could you debug your end?

https://github.com/MikeRogers0/LivePage#running-development-version-in-chrome - How to get setup locally.
https://github.com/MikeRogers0/LivePage/blob/master/js/injected/livepage.js#L206 - The method changed in the last update.

Thank you!

[2017-07-11 06:23] megasan84 commented on #102
I installed extension from git.
Directly file index.html from the demo folder works, that is, the update happens.
But on my project still does not work :(

[2017-07-11 08:11] MikeRogers0 commented on #102
@megasan84 Do you have a version of the project I can run my end to debug?

[2017-08-25 18:26] nixonthekat opened #103 "Media queries"
Please see my code

`// @screen-xs-min = 420px
@mq-xs-min: ~"only screen and (min-width: 420px)";

// @screen-sm-min = 768px
@mq-sm-min: ~"only screen and (min-width: 768px)";

// @screen-md-min = 992px
@mq-md-min: ~"only screen and (min-width: 992px)";

// @screen-lg-min = 1200px
@mq-lg-min: ~"only screen and (min-width: 1200px)";

// @screen-xl-min = 1320px
@mq-xl-min: ~"only screen and (min-wid

[2017-08-25 21:15] MikeRogers0 commented on #103
To clarify, when working with Livepage you've found changes to media queries to be inconsistent?
Which version of LivePage are you running?

[2017-08-25 22:53] nixonthekat commented on #103
The most recent copy you have on your website/google store

[2017-08-28 09:47] MikeRogers0 commented on #103
I'll investigate :)

[2017-08-28 13:31] nixonthekat commented on #103
thanks dude, I love the idea and the mix between Chrome and Sublime is cool but I noticed too sometimes my less would stop getting added even know it added my stylesheet. Wish I could give you a log but the log on your app seems to just show npm errors for projects on my PC that i never used with your plugin

[01:03] Unable to parse initial content of file:///D:/xamp/htdocs/garcinia/node_modules/g

[2017-08-28 22:05] mvasin opened #104 "Doesn't work with Jekyll"
Does not pull in the changes when Jekyll serves the site with `bundle exec jekyll serve`.

[2017-08-29 05:33] MikeRogers0 commented on #104
I use LivePage to build a few sites with Jekyll, so I'll need some more
information to recreate the issue.

Which version of Jekyll are you using? Do you have any logs or a repo I can
debug with?

On Mon, 28 Aug 2017 at 23:05, vermishelle <notifications@github.com> wrote:

[2017-08-29 06:22] mvasin commented on #104
I've already canceled the order on chrome extensions store right after I saw it didn't work what I bought it for, but your quick response looks promising, so I bought it once again just to make sure I give you right reproduction steps. Here they are:

[Install Jekyll](https://jekyllrb.com/docs/installation/)
[code]
Now, for instance, edit `about.md` in the current `reload-test` directory and see t

[2017-08-29 07:35] MikeRogers0 commented on #104
Awesome thank you! This sounds pretty serious, I'll investigate ASAP!

On Tue, 29 Aug 2017 at 07:22, vermishelle <notifications@github.com> wrote:

[2017-08-29 10:30] MikeRogers0 commented on #104
Hi again! I've just attempted to reproduce this locally & everything worked as expected ( Here is a video https://www.youtube.com/watch?v=IJ6vpuN3rxw&feature=youtu.be ).

I suspect another extension could be interfering with LivePage, if you provide any console output I'd appreciate it!

[2017-08-29 12:19] mvasin commented on #104
Oh, dammit, I missed the 'press the icon to turn it on' thing! I just didn't have this in mind, thinking that if the extension is on, it's on. I did watch the introductory video, but just didn't pay attention.

It totally works, sorry for bothering.

[2017-08-29 12:19] #104 closed

[2017-08-29 12:45] MikeRogers0 commented on #104
Hah! I'll make a note of this, I'm certain other users will have run into this also :)

[2017-08-29 13:09] #98 closed

[2017-08-29 14:16] MikeRogers0 opened #105 "Add a CONTRIBUTING file"
A number of tickets submitted have required follow up to determine what is actually going wrong.

I think encouraging users to attach more information by default & addressing common problems in the CONTRIBUTING file would reduce the amount of time consuming tickets.

[2017-08-29 17:39] mvasin commented on #104
Yeah, a hint on the first activation of the extension would be wonderful.

Thanks for quick response and GLWS :)

[2017-09-06 15:15] mvasin opened #106 "Doesn't work with Vue"
I'm pretty happy with the experience overall, but this file, saved to disk, and opened in chrome, with permission to access files on disk granted, does not update. Change message text for yourself.

[code]

[2017-09-06 16:55] MikeRogers0 commented on #106
Hi @mvasin ! I just tested this my end & found the issue.

In the LivePage options ( right click on the icon & click options ), under "Advanced Settings" uncheck "Ignore inline Javascript". Once this is unchecked you should see LivePage working as you expect :)

<img width="786" alt="inline-js" src="https://user-images.githubusercontent.com/325384/30124229-665649f6-932c-11e7-83dd-d99e601a5769.png"

[2017-09-06 16:58] mvasin commented on #106
Yes, it works, thank you.

[2017-09-06 16:58] #106 closed

[2017-09-14 22:07] MikeRogers0 opened #109 "Add 'Cache-Control: no-cache' to XHR requests & allow to cleaner cache breaking"
As discussed in https://github.com/MikeRogers0/LivePage/pull/108 .

When making the polling request add:

[code]

Also add an option to remove `LivePage=` from the URL request.

[2017-11-01 13:50] #109 closed

[2017-11-01 14:44] #83 closed

[2017-11-01 15:04] #105 closed

[2017-11-01 15:05] MikeRogers0 commented on #84
It's getting much better! I'll close this off.

[2017-11-01 15:05] #84 closed

[2017-11-01 15:05] #99 closed

[2017-11-01 15:06] #102 closed

[2017-11-01 15:06] #103 closed

[2017-11-04 13:23] MikeRogers0 opened #111 "Add support for RequireJS"
Figure out if there is a way to track what is being sideloaded in via the JS & track those files also.

[2017-11-19 20:18] amedov-denis opened #112 "Import css file with relative path throws 404"
If i have a index.css and import other files like: `@import 'css/other.css'`

In this usecase it's throwing a 404 because it tries to load the resource from : "root/css/other.scss".

But if i import root-relative like `@import '/theme/directory/css/other.css'`,then it's working.

It should be more generic, because the root path can  can be completely different in several environments.
And it's not

[2017-11-20 09:59] MikeRogers0 commented on #112
Oh no, that's not good. I'll investigate this @amedov-denis ASAP & keep you updated!

[2017-12-05 10:36] amedov-denis commented on #112
@MikeRogers0 thanks for investigating. Do you think you can fix it in the next time?

[2017-12-05 11:27] MikeRogers0 commented on #112
@amedov-denis No problem, sorry it's taking me a while to solve this one!
I'm aiming to have this fixed before before Xmas.

[2017-12-05 11:59] MikeRogers0 commented on #112
@amedov-denis I've opened a PR adding files matching the issue you're describing ( https://github.com/MikeRogers0/LivePage/pull/113/files ).

When I run `php -S 127.0.0.1:8000 -t demo/` to open those HTML like a web server, then visit `http://127.0.0.1:8000/subdir/` and run LivePage I don't see any 404 errors.

Could you confirm that those files match the issue you're describing / possibly send me

[2017-12-06 19:04] amedov-denis commented on #112
Yes of course, because in this special case "relative" and "root-relative" is the same.
But if you wrap `index.css` and `css` in a `src` folder, then it's not working any more.
Try this file structure:

root
└── index.html
└── src
    └── css
     |    └── imported.css
    └── index.css

This should throw a 404 because it tries to import `/css/imported.css` instead of `/src/css/imported.css`

[2017-12-06 21:11] MikeRogers0 commented on #112
@amedov-denis Good news!!! I recreated the issue & got a fix written! I'll deploy once the automated test pass. It should reach your browser within 12 hours.

I really appreciate your help & patience with this one 👍 If we cross paths make sure to make me buy you a beverage :)

[2017-12-06 21:12] #112 closed

[2017-12-13 10:26] amedov-denis commented on #112
@MikeRogers0 Great, thank you very much for your effort :)

[2018-01-16 02:11] xsrvmy opened #114 "Add option for a "soft" refresh"
At the moment, when a page updates, a hard refresh (CTRL-F5) is triggered. For remote development, this isn't necessarily a problem, but for local development, the refresh will fail when internet connection is poor or unavailable. I suggest adding an option to trigger only a soft refresh (F5) when a local page is updated.

[2018-01-16 12:10] MikeRogers0 commented on #114
I'm not so keen on this idea, soft refreshes might reload and show an out-of-date version of a page. Plus I want encourage people to develop on their local machines (localhost / 127.0.0.1 / example.test ) and not use LivePage on offsite servers.

Though if there is enough support, the LOC that needs adjusting is https://github.com/MikeRogers0/LivePage/blob/67b4aef977f93468ec96969915fd3855c38a186a/

[2018-01-30 20:19] samussiah opened #115 "Failed to read the 'cssRules' property from 'CSSStyleSheet': Cannot access rules at livePage.scanCSS()."
Just started running into this with Chrome 64.  The stylesheet in question is this one: https://rawgit.com/RhoInc/Webcharts/master/css/webcharts.css.  It's being pulled into a simple index.html file and loaded on a dev server.  Any ideas what's going on?

[2018-02-01 17:25] ashleysummers commented on #115
No help, but I am having the same issue. It just started.

[2018-02-05 19:50] MikeRogers0 commented on #115
@samussiah @ashleysummers Thank you for bringing this to my attention. I last tested LivePage on Chrome 63 & it looks like Chrome 64 made a breaking change that made reading CSS rules on external stylesheets throw an error.

I issued a [quick patch](https://github.com/MikeRogers0/LivePage/commit/e5f0ac54913b11cfaeb5848f48ca04f1cd65d960) on the 2nd of Feburary (Version 2.6.7) so it LivePage should

[2018-02-05 19:56] ashleysummers commented on #115
Updated to 2.6.7 and I am still getting the same error :( If there is anything I can do to assist in testing, please let me know.

[2018-02-05 21:22] samussiah commented on #115
Likewise, much obliged!

[2018-02-07 09:16] MikeRogers0 commented on #115
https://chromium.googlesource.com/chromium/src/+/56db65a6d5d214d238ca16a90fea118571d5c8e6 - This might have been the underlying change which borked LivePage.
Going forward I'll most likely have to discovered `@import`'s via AJAX & Regex.

[2018-02-08 17:52] nakwa commented on #59
Any update on this one? would be great! :)
beside that, is there any option available at the moment? I can't find where the `rel="livePage"` is documented.

[2018-02-08 17:56] nakwa opened #116 "Page keep refreshing"
Just bought the chrome extension:
I am developing a React/Redux application, bundled with Browserify and served with Rails.
I'd like the page to refresh only when Browserify (watchify) is rebuilding my client bundle (javascript file).

At the moment the page just constantly keeps refreshing and I can't find out why.
Any option or any log I can look at? What exactly is the trigger to refreshing the

[2018-02-08 18:10] MikeRogers0 commented on #59
@nakwa It's still in my backlog, but I've not forgotten! I've been very busy lately :( Though I've had a bunch of users request this feature in the last week weeks, so it's higher on my TODO list :)

`rel="livePage"` is documented on the options page, you use it by adding:

[code]

Into the head of your document :)

[2018-02-08 18:13] MikeRogers0 commented on #116
Hi @nakwa LivePage works by polling JS/CSS files it finds on page load via AJAX.

It's highly likely that it's found a file that it has determined is changing every time it polls it (I've not done to much in depth work with React unfortunately to say for sure).

In its options page ( chrome://extensions/?options=nagjcklpinhochdlhekonkhakkbmmjed ) you can try disabling JS monitoring and see what ef

[2018-02-08 19:36] nakwa commented on #116
Ok, this was actually caused by Rails generating a new `authenticity_token` both in head/meta and as `CDATA` every time it serves an HTML page - so ignoring HTML hidden fields and comments in HTML did the trick.
Thanks for the prompt answer!

[2018-02-08 19:36] #116 closed

[2018-02-10 10:44] MikeRogers0 commented on #116
Oh awesome! Thank you for updating the ticket with a solution :)

[2018-02-28 15:43] Florrpan opened #117 "Does not refresh style.css in wordpress"
I've used this tool on WordPress before, but now it just won't spin.

I'm editing the stylesheet of a WordPress child theme directly through an text editor (brackets.io).

The tool have permissions to access the files.
This is how the stylesheet is loaded on the website:

<link rel='stylesheet' id='generate-child-css'  href='http://localhost/hastokansla/wp-content/themes/hastokansla/style.css' typ

[2018-03-05 11:10] DavidGC opened #118 "Bought the extension, but cannot use it"
![image](https://user-images.githubusercontent.com/8075968/36972035-f73b196e-206d-11e8-9f8e-dda95d33d283.png)
![image](https://user-images.githubusercontent.com/8075968/36972064-144d39e2-206e-11e8-8d69-67b077ef79d1.png)
As said I bought the extension (I was using it time ago) but still getting the same message :/ any advices ?

[2018-03-12 09:49] DavidGC commented on #118
7 days after my purchase still unable to use it...

[2018-04-03 10:11] DavidGC commented on #118
Still no reply about, dont buy this extension...

[2018-09-04 18:07] Zugmaschine opened #119 "Paypal"
Why i cant buy the extension with paypal?

[2018-10-17 16:46] reveillette opened #120 "Purchased extension but couldn't download"
I purchased the LivePage extension yesterday, but received an error when installing and now when I return to the LivePage Chrome extension page, I am prompted to purchase again.

[2018-10-17 16:47] reveillette commented on #118
Same thing happening to me. Wish I had seen this message before buying.

[2018-10-21 14:55] chrisjj opened #121 "How can I update to the latest version shown on the store, 2.6.8?"
Please?

I've got only 2.1.1, despite having done Developer mode Update.

[2018-11-02 19:22] jsinai opened #122 "Doesn't reload svg file"
When live-editing an SVG file, LivePage doesn't reload it, whether from a file url or if served up via http. Is this supported?

[2018-11-08 14:09] Pseudothink opened #123 "Version 2.6.8 not updating cache reliably?"
Hi Mike, first--thanks for such a great development tool!  I'm just introducing myself to it now, as I'm stepping through Ben Rady's tutorials from his Serverless Single-Page Apps book.

One of the two problems I encountered with LivePage is that it didn't seem to notice when I updated the markup in the index.html file being served to LivePage from my local dev server at  http://localhost:9292.

I

[2018-11-27 22:29] samussiah commented on #123
Bump.  I'm experiencing something similar where small code changes of, say, a line don't trigger a reload whereas larger changes and small changes higher in the .js file trigger a reload.  I'm running the build script in [this repo](https://github.com/RhoInc/query-overview) and LivePage'ing [this .html file](https://github.com/RhoInc/query-overview/blob/master/build/test-page/index.html) locally.

[2018-11-28 17:13] samussiah opened #124 "Rollup-bundled .js files no longer triggering page reload reliably."
#123 might be related.  I'm running the build script in [this repo](https://github.com/RhoInc/query-overview) and LivePage'ing [this .html file](https://github.com/RhoInc/query-overview/blob/master/build/test-page/index.html) locally.  Some changes trigger page reload, some don't, like a simple `console.log()`.

[2019-01-18 20:49] MattFloyd commented on #59
I'd really like the ability to blacklist URLs. The network tab in Chrome is pretty noisy as it monitors some files that never change.

[2019-01-18 20:51] MikeRogers0 commented on #59
@MattFloyd Cool idea, I'm pretty swamped right now but that's something I reckon I could add :)

[2019-01-30 10:14] Adrian-Cuellar opened #125 "Minimum delay before reloading does not get saved"
Hi, the setting "Minimum delay before reloading" does not gets saved.
I tried to set it and y closed the settings window. After that i reopened the settings and I watched the previous setting value.
I am using Chrome Versión 71.0.3578.98 (Build oficial) (64 bits) over windows 10.
Thanks in advance